$primary: #303036;
$secondary: #30bced;
$light: #e5f4e3;
$mono: "Share Tech Mono", monospace;
$sans: "Share", sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=Share:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: $sans;
}

a {
  color: inherit;
}
