$primary: #303036;
$secondary: #30bced;
$light: #e5f4e3;
$mono: "Fira Code", monospace;
$sans: "Fira Sans", sans-serif;

$tablet: 1024px;
$mobile: 768px;
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&family=Fira+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: $sans;
}

a {
  color: inherit;
}
